/* root相关 */
:root {
	--color-danger: #fe3824;
	--color-warning: #ffe601;
	--color-bg: #e7e7ec;
	--color-bg-hover: #f1f1f5;
	--color-bg-hover-2: #c3c3c6;
	--color-text: #2f3035;
}

/* body */
body {
	background-color: var(--color-bg);
	height: 100%;
	color: var(--color-text);
}

/* 整体框架 */
#main {
	width: 75vw;
	min-width: 300px;
	height: 90%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 10px;
}

/* 导航栏 */
.nav {
	width: 100%;
	height: 3rem;
	margin: 1rem 0;
	text-align: center;
	vertical-align: middle;
	line-height: 3rem;
	color: var(--color-text);
	display: grid;
	grid-template-columns: repeat(8, 12.5%)
}

.nav a {
	text-decoration: none;
	border: 1px solid var(--color-text);
	color: var(--color-text);
	position: relative;
}

.nav a svg {
	vertical-align: middle;
	text-align: center;
}

.nav a:hover,
.nav a[select] {
	background-color: var(--color-bg-hover);
	font-weight: bold;
}

/* 页面iframe */
#app {
	width: calc(100% - 2px);
	height: calc(100% - 6rem - 4px);
	border: 1px solid var(--color-text);
	position: relative;
}

#app iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

#app .iframe-controller {
	width: 100%;
	height: 100%;
	position: absolute;
}

#app .absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#app .iframe-controller .iframe-controller-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-bg-hover-2);
	opacity: 0.7;
}
#app .iframe-controller .iframe-controller-exit{
	position: relative;
	width: 100%;
	height: 2rem;
	cursor: pointer;
}
#app .iframe-controller .iframe-controller-list {
	width: 50%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	vertical-align: middle;
	text-align: center;
}

#app .iframe-controller .list-item {
	position: relative;
	width: 4.5rem;
	height: 4.5rem;
	margin: .2rem;
	border: 1.5px solid var(--color-text);
	border-radius: 50%;
	cursor: pointer;
}
#app .iframe-controller .list-item:hover{
	background-color: var(--color-bg);
	font-weight: bold;
}